In [13]:
import pandas as pd

In [18]:
lista = ('/home/michel/Documentos/Engenharia de Dados com Google Dataflow e Apache Beam na GCP/meu_teste.csv')
df = df
df

,['06b8999e2fba1a1fbc88172c00ba8bc7','861eff4711a542e4b93843c6dd7febb0','14409']
0,['18955e83d337fd6b2def6b18a428ac77','290c77bc529b7ac935b93aa66c333dc3','09790']
1,['4e7b3e00288586ebd08712fdd0374a03','060e732b5b29e8181a18229c7b0b2b5e','01151']
2,['b2b6027bc5c5109e529d4dc6358b12c3','259dac757896d24d7702b9acbbff3f3c','08775']
3,['4f2d8ab171c80ec8364f7c12e35b23ad','345ecd01c38d18a9036ed96c73b8d066','13056']
4,['879864dab9bc3047522c92c82e1212b8','4c93744516667ad3b8f1fb645a3116a4','89254']
5,['fd826e7cf63160e536e0908c76c3f441','addec96d2e059c80c30fe6871d30d177','04534']
6,['5e274e7a0c3809e14aba7ad5aae0d407','57b2a98a409812fe9618067b6b8ebe4f','35182']
7,['5adf08e34b2e993982a47070956c5c65','1175e95fb47ddff9de6b2b06188f7e0d','81560']
8,['4b7139f34592b3a31687243a302fa75b','9afe194fb833f79e300e37e580171f22','30575']

In [27]:
import csv
with open('/home/michel/Documentos/Engenharia de Dados com Google Dataflow e Apache Beam na GCP/meu_teste.csv', 'r') as file:
    # Cria um objeto leitor de CSV
    reader = csv.reader(file)

    # Itera sobre as linhas do arquivo
    for row in reader:
        print(row[0])

['06b8999e2fba1a1fbc88172c00ba8bc7'
['18955e83d337fd6b2def6b18a428ac77'
['4e7b3e00288586ebd08712fdd0374a03'
['b2b6027bc5c5109e529d4dc6358b12c3'
['4f2d8ab171c80ec8364f7c12e35b23ad'
['879864dab9bc3047522c92c82e1212b8'
['fd826e7cf63160e536e0908c76c3f441'
['5e274e7a0c3809e14aba7ad5aae0d407'
['5adf08e34b2e993982a47070956c5c65'
['4b7139f34592b3a31687243a302fa75b'

In [24]:
def tranforma():
        for i in range(len(df)):
            keys = [item[0] for item in df]
            values = [item[1:] for item in df]
            return [(dict(zip(keys, values)))]
tranforma()

[{'[': "'06b8999e2fba1a1fbc88172c00ba8bc7'", ' ': "'14409']"}]